.suggestions-form,
.incident-form{
        .inline{
            display: flex;
            justify-content: space-between;
            p{
                width: 49%;
            }
        }
        p{
            opacity: 1;
        }
        input[type="text"],
        input[type="date"],
        select,
        textarea{
            font-family: "Aeonik", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
            background-color: (--white);
            font-weight: 300;
            width: 100%;
            border: 1px solid var(--black);
            border-radius: 4px;
            font-size: 16px;
            &:focus-visible{
                outline: 2px solid var(--orange);
                
            }            
        }
    
        input[type="text"],
        input[type="date"],
        select{
            height: 50px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 1em;
    
        }
    
        textarea{
            padding-left: 15px;
            padding-top: 10px;
            
           
        }
        p{
            margin-bottom: 0;
            margin-top: 0;
        }
        button {
            border: none;
            background-color: white;
        }
        
        input[type="submit"]{
    
            border-width: none;
            border-style: none;
            border-color: none;
            border-image: none;
    
            background-color: var(--orange);
            color: var(--white);
            text-decoration: none;
            padding: 5px 20px;
            border-radius: 4px;
            float: right;
            width: 10em;
            height: 3em;
            font-size: 16px;
            &:hover{
                // filter: brightness(90%);
                cursor: pointer;
            }
        }

        label{
            .tooltip{
                position: relative;
                display: inline-flex;
                align-items: center;
                cursor: pointer;
                font-weight: 500;
                // font-size: 24px;
                line-height: 24px;
                float: right;
                &:hover{
                    .tooltip__text{
                        opacity: 1 !important;
                        visibility: visible;
                    }
                }
                .tooltip__text{
                    color: var(--black) !important;
                    font-weight: 300;
                    position: absolute;
                    z-index: 1;
                    visibility: hidden;
                    font-size: 14px;
                    line-height: 16px;
                    bottom: calc(100% + 5px);
                    padding: 9px 8px;
                    display: block;
                    background-color: #EDEDED;
                    right: 4px;
                    // min-width: calc(100% - 50px);
                    color: #fff;
                    opacity: 0;
                    transition: 0.3s ease-in-out;
                    &::after{
                        content: "";
                        width: 6px;
                        background-color: #EDEDED;
                        height: 6px;
                        transform: rotate(45deg);
                        position: absolute;
                        bottom: -3px;
                        right: 5px;
                    }
                }
            }
        }
    
}
// errors
#suggestions_form.sent,
#incidents.sent,
#nominations.sent{
    .wpcf7-response-output{
        content: "Your suggestion has been submitted";
        border: 1px solid #00E300 !important;
        background-color: #00E300;
        display: flex;
        justify-content: center;
        border-radius: 4px;
        padding: 15px;
        font-weight: 300;
        color: var(--white);
    }
    
}

#suggestions_form.invalid,
#incidents.invalid,
#nominations.invalid{
    .wpcf7-response-output{
        border: 1px solid #E30000 !important;
        background-color: #E30000;
        color: var(--white);
        display: flex;
        justify-content: center;
        border-radius: 4px;
        padding: 15px;
        font-weight: 300;
    }
    
}

#suggestions_form,
#incidents,
#nominations{
    .wpcf7-not-valid-tip{
        font-weight: bold;
        color: #E30000;
        &::before{
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 6 Pro";
            font-weight: 400;
            font-size: 20px;
            content: "\f071\00a0";
        }
    }
}

// CMS
#acf-group_652573b60156b{
    .acf-input{
        pointer-events: none;
    }
}

input::-webkit-calendar-picker-indicator {
    cursor: pointer;
}