.form-slide{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 86.7vh;
    cursor: default;
    &::before{
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(255, 255, 255, 0.85);
        transition: all .2s linear;
    }
    background-size: 10em 10em !important;
    background-repeat: space;
    label{
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-size: 32px;
        margin: 0.1em 0 0.5em;
        font-family: Gotham-Bold;
        .tooltip{
            display: inline-flex;
            align-items: center;
            cursor: pointer;
            font-weight: 500;
            font-size: 24px;
            line-height: 24px;
            float: right;
            &:hover{
                .tooltip__text{
                    opacity: 1;
                    visibility: visible;
                }
            }
            .tooltip__text{
                color: var(--black) !important;
                font-family: Gotham-Book;
                position: absolute;
                z-index: 1;
                visibility: hidden;
                font-size: 14px;
                line-height: 16px;
                bottom: calc(100% + 5px);
                padding: 9px 8px;
                display: block;
                background-color: #EDEDED;
                right: 4px;
                // min-width: calc(100% - 50px);
                color: #fff;
                opacity: 0;
                transition: 0.3s ease-in-out;
                &::after{
                    content: "";
                    width: 6px;
                    background-color: #EDEDED;
                    height: 6px;
                    transform: rotate(45deg);
                    position: absolute;
                    bottom: -3px;
                    right: 5px;
                }
            }
        }
        
    }
    .next-btn{
        width: 150px;
        padding: 15px 20px;
        border-radius: 4px;
        color: var(--white);
        position: relative;
        float: right;
        text-align: center;
        cursor: pointer;
    }
    .back_btn,
    #back_btn{
        position: relative;
        color: #838383;
        text-decoration: none;
        cursor: pointer;
    }
    p{
        position: relative;
        max-width: var(--inner-width);
        width: 100%;
        margin: 0 auto;
        padding-left: 24px;
        padding-right: 24px;
    }
    input[type="text"],
    input[type="date"]{
        background-color: (--white);
        font-family: Gotham-Book;
        width: 100%;
        border: 1px solid var(--black);
        border-radius: 4px;
        font-size: 16px;
        height: 50px;
            padding-left: 15px;
            padding-right: 15px;
            margin-bottom: 1em;
        &:focus-visible{
            outline: 1px solid var(--orange);
            
        }
    }
    .file-title{
        margin-bottom: 0;
    }
}

.glide__slides{
    .form-slide{
        &:nth-child(1){
            input{
                border-color: var(--orange);
                color:var(--orange);
                width: 82%;
                &::placeholder, &:focus-visible{
                    color: inherit;
                    outline-color: var(--orange);
                }

            }
            .next-btn{
                background-color: var(--orange);
            }
            .wpcf7-not-valid-tip{
                position: absolute;
            }
        }
        &:nth-child(2){
            input{
                border-color: #00E300;
                color:#00E300;
                &::placeholder, &:focus-visible{
                    color: inherit;
                    outline-color: #00E300;
                }
            }
            span[data-name="city"],
            span[data-name="post-code"]{
                display: inline-flex;
                flex-direction: column;
                width: 49.7%;
                >.wpcf7-not-valid-tip{
                    display: inline-block;
                    // width: 49.75%;
                }
            }
            span[data-name="city"]{
                margin-right: 0.5%;
            }
            .next-btn{
                background-color: #00E300;
            }
        }
        &:nth-child(3){
            input{
                border-color: #00D2E2;
                color:#00D2E2;
                width: 82%;
                &::placeholder, &:focus-visible{
                    color: inherit;
                    outline-color: #00D2E2;
                }
            }
            .next-btn{
                background-color: #00D2E2;
            }
            .wpcf7-not-valid-tip{
                position: absolute;
            }
        }
        &:nth-child(4){
            span[data-name="phonetext"]{
                display: inline-flex;
                flex-direction: column;
                width: 82%;
            }
            .intl-tel-input{
                margin-bottom: 1em;
                width: 100%;
            }
            input{
                border-color: var(--orange);
                color:var(--orange);
                &::placeholder, &:focus-visible{
                    color: inherit;
                    outline-color: var(--orange);
                }
            }
            .next-btn{
                background-color: var(--orange);
            }
        }
        &:nth-child(5){
            flex-direction: column;
            .file-title{
                position: relative;
                margin-top: 1em;
            }
            .wpcf7-file::-webkit-file-upload-button{
                display: none;
            }
            .wpcf7-form-control-wrap::before {
                content: "Upload";
                background-color: var(--black);
                color: #00E300;
                border-radius: 4px;
                position: absolute;
                padding: 15px 50px;
                left: 0;
                // top: 0;
            }

            
            input{
                border-color: #00E300;
                color:#00E300;
                width: 82.5%;
                border: 1px solid #00E300;
                background-color: var(--white);
                border-radius: 4px;
                padding: 15px 20px;
                // margin-top: 15px;
                position: relative;
                margin-left: 175px;
                margin-bottom: 1em;
                &::placeholder, &:focus-visible{
                    color: inherit;
                    outline-color: #00E300;
                }
            }
            .next-btn{
                background-color: #00E300;
            }
        }
        &:last-child{
            &::before{
                content: "";
                display: block;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background: var(--black);
                transition: all .2s linear;
            }

            .submit-container{
                z-index: 999;
                color: var(--white);
                width: 1000px;
                h1{
                    font-size: 96px;
                    margin-bottom: 0.5em;
                }
                .inner-submit-container{
                    width: 750px;
                    margin: 0 auto ;
                    .row{
                        height: 50px;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;
                        border-top: 1.5px solid #D3D2D2;
                        font-family: Gotham-Book;
                        padding: 5px 0;
                        &:last-child{
                            padding-bottom: 3%;
                        }
                        p{
                            // max-width: 750px;
                            a{  
                                background-color: var(--orange);
                                color: var(--white);
                                font-weight: bold;
                                padding: 5px 20px;
                                margin: 15px 0;
                                border-radius: 4px;
                                text-decoration: none;
                                cursor: pointer;
                                &:hover{
                                    filter: brightness(90%);
                                }
                            }
                            &:nth-child(2){
                                text-align: right;
                                font-family: Gotham-Bold;
                            }
                         
                            .link{
                                float: right;
                            }
                            
                        }
                        
                        
                    }
                    h4{
                        color: var(--orange);
                        font-size: 16px;
                        text-transform: uppercase;
                    }
                    .subtext{
                        max-width: 750px;
                        padding-bottom: 1em;
                        line-height: 1.5;
                    }
                    .wpcf7-checkbox{
                        color: var(--orange);
                    }
                    .wpcf7-form input[type=submit]{
                        margin: 0 auto;
                    }
                    &:last-child{
                        p{
                            width: 750px !important;
                            
                            .wpcf7-submit{
                                // all: unset;
                                border-width: 0;
                                border-style: none;

                                font-size: 16px;
                                font-family: Gotham-Book;
                                display: block;
                                margin: 0 auto;
                                float: unset;
                                width: 150px;
                                padding: 10px 20px;
                                margin-top: 5px;
                                border-radius: 4px;
                                color: var(--white);
                                background-color: var(--orange);
                                position: relative;
                                text-align: center;
                                cursor: pointer;

                            }
                            .wpcf7-form-control-wrap{
                                >.wpcf7-acceptance{
                                    width: 100%;
                                    >.wpcf7-list-item{
                                        
                                        margin: 0 16% 0 16%;
                                        >label{
                                            display: inline-block ;
                                            font-size: 16px;
                                            border: 2px solid var(--orange);
                                            border-radius: 5px;
                                            // width: 70%;
                                            margin: 2em auto 1em;
                                            padding: 15px 20px;
                                            color: var(--orange);
                                            >input{
                                                accent-color: var(--orange);
                                            }
                                        }
                                    }
                                    
                                }
                            }
                        }
                       
                    }
                   
                }

            }
        }
    }
}

// errors
#new_starter_form.invalid{
    .wpcf7-response-output{
        border: 1px solid #E30000 !important;
        background-color: #E30000;
        color: var(--white);
        display: flex;
        justify-content: center;
        border-radius: 4px;
        padding: 15px;
        font-family: Gotham-Book;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}

#new_starter_form{
    .wpcf7-not-valid-tip{
        font-family: Gotham-Bold;
        color: #E30000;
        padding-bottom: 1em;
        &::before{
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font-family: "Font Awesome 6 Pro";
            font-weight: 400;
            font-size: 20px;
            content: "\f071\00a0";
        }
    }
}

// button disable class
.disabled{
    cursor: not-allowed !important;
    pointer-events: none;
    background-color: var(--grey) !important;
}