footer{
    // display: flex;
    // position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--black);
    
    .top-anchor{
        background-color: var(--grey);
        .inner-container{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
        }
    }
    .container{
        padding: 20px 0 20px;
        .bottom{
        
            max-height: 66px;
            max-width: 66px;
            img{
                height: 100%;
                padding: 10px;
                filter: grayscale(100%);
                &:hover{
                    filter: grayscale(0%); 
                }
            }
        }
        .starter-form-footer{
            color: var(--orange);
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
}