.free-text {
    margin-bottom: 35px;
    h2 {
        font-size: 44px;
        scroll-margin-top: 200px;
        margin-bottom: 0.5em;
        font-style: normal;
        font-weight: 500;
        line-height: 53px;
    }

    h3 {
        font-size: 24px;
        color: var(--orange);
    }
}