.resources{
    .inner-container{
        .resource-container{
            display: flex;
            flex-direction: row;
            padding-bottom: 4em;
            &:first-child{
                padding-top: 2em;
            }
            .resource-icon{
                color: var(--orange) ;
            }
            div{
                padding-left: 1em;
                h2{
                    font-size: 32px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
                p, p>a{
                    margin: 0.5em 0;
                    font-size: 16px;
                    font-family: Gotham-Book;
                    line-height: 1.5;
                    a{ 
                        text-decoration: underline;
                        font-weight: bold;
                        color: inherit;
                        &:hover{
                            color: var(--orange);
                        }
                    }
                }
                a{
                    color: var(--orange);
                    font-size: 20px;
                    text-decoration: none;
                    &:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}