// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.team{
    .search-section{
        .title{
            h1{
                font-size: 96px;
                color: transparent;
                -webkit-text-stroke: 1px var(--black);
                span{
                    color: var(--black);
                }
            }
            p{
                font-family: Gotham-Book;
                max-width: 750px;
                margin: 0 auto;
            }
            
        }
    }

    .team-section{
        background-color: #F2F2F2;
        .team-row{
            display: flex;
            .team-name{
                display: flex;
                justify-content: center;
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                padding: 0 50px;
                text-transform: uppercase;
            }
            .members-list{
                padding: 60px 0;
                border-bottom: 2px solid #D3D2D2;
                
                .glide__track{
                    .glide__slides{
                    }
                }
                .team-member{
                    overflow: visible ;
                    img{
                        width: 264px;
                        height: 341px;
                    }
                    p{
                        margin: 0;
                    }
                    .name{
                        padding: 1em 0 0.2em;
                        text-transform: uppercase;
                        color: var(--orange);
                    }

                    .job{
                        padding-bottom: 1em;
                    }
                    .fa-stack{
                        i:first-child{
                            color: var(--white);
                        }
                        &:hover{
                            i:first-child{
                                color: var(--orange);
                            }
                            i:last-child{
                                color: var(--white);
                            }
                        }
                    }

                    .email,
                    .linkedin,
                    .skills{
                        display: none;
                    }
                }
                
            }
            
        }
        
    }
}