// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";

.team{
    overflow-x: hidden ;
    .search-section{
        .title{
            h1{
                font-size: 96px;
                color: transparent;
                -webkit-text-stroke: 1px var(--black);
                span{
                    color: var(--black);
                }
            }
            p{
                font-family: Gotham-Book;
                max-width: 750px;
                margin: 0 auto;
            }
            
        }
        form{
            padding-top: 4em;
            label{
                color: var(--orange);
                
            }
            input[type="text"]{
                font-family: Gotham-Book;
                width: 100%;
                border: 1px solid var(--black);
                border-radius: 4px 0 0 4px;
                height: 50px;
                padding-left: 15px;
                margin: 10px 0 2em;
                background: url("https://icons8.com/icon/59878/search") #ffffff no-repeat 98% !important;
                width: 95%;
                border-right: none;
                &:focus-visible{
                    outline: none;
                }
            }
            button{
                width: 5%;
                height: 50px;
                float: right;
                padding: 6px 10px;
                margin-top: 10px;
                // margin-right: 16px;
                background: var(--white);
                font-size: 17px;
                border-radius: 0 4px 4px 0;
                border: 1px solid var(--black);
                border-left: none;
                cursor: pointer;
                &:hover{
                    i{
                        color: var(--orange);
                    }
                }
            }
        }
    }

    .team-section{
        overflow-x: hidden ;
        background-color: #F2F2F2;
        .team-row{
            display: flex;
            .team-name{
                display: flex;
                justify-content: center;
                writing-mode: tb-rl;
                transform: rotate(-180deg);
                padding: 0 50px;
                text-transform: uppercase;
            }
            .members-list{
                padding: 60px 0;
                border-bottom: 2px solid #D3D2D2;
                
                .team-member{
                    overflow: visible ;
                    img{
                        width: 264px;
                        height: 341px;
                    }
                    p{
                        margin: 0;
                    }
                    .name{
                        padding: 1em 0 0.2em;
                        text-transform: uppercase;
                        color: var(--orange);
                    }

                    .job{
                        padding-bottom: 1em;
                    }
                    .fa-stack{
                        i:first-child{
                            color: var(--white);
                        }
                        &:hover{
                            i:first-child{
                                color: var(--orange);
                            }
                            i:last-child{
                                color: var(--white);
                            }
                        }
                    }

                    .email,
                    .linkedin,
                    .skills{
                        display: none;
                    }
                }
                
            }
            
        }
        
    }
}