@font-face {
    font-family: Gotham-Black;
    src: url("/includes/fonts/Gotham-Black.otf");
}

@font-face {
    font-family: Gotham-Bold;
    src: url("/dist/fonts/Gotham-Bold.otf");
}

@font-face {
    font-family: Gotham-Book;
    src: url("/dist/fonts/Gotham-Book.otf");
}

@font-face {
    font-family: Gotham-Medium;
    src: url("/dist/fonts/Gotham-Medium.otf");
}
