@font-face {
    font-family: Gotham-Black;
    src: url("/includes/fonts/Gotham-Black.otf");
}

@font-face {
    font-family: Gotham-Bold;
    src: url("/includes/fonts/Gotham-Bold.otf");
}

@font-face {
    font-family: Gotham-Book;
    src: url("/includes/fonts/Gotham-Book.otf");
}

@font-face {
    font-family: Gotham-Light;
    src: url("/includes/fonts/Gotham-Light.otf");
}

@font-face {
    font-family: Gotham-Medium;
    src: url("/includes/fonts/Gotham-Medium.otf");
}

@font-face {
    font-family: Gotham-Thin;
    src: url("/includes/fonts/Gotham-Thin.otf");
}

@font-face {
    font-family: Gotham-Ultra;
    src: url("/includes/fonts/Gotham-Ultra.otf");
}

@font-face {
    font-family: Gotham-XLight;
    src: url("/includes/fonts/Gotham-XLight.otf");
}