html, body{
    font-family: Gotham-Medium;
}

.container{
    position: relative;
    max-width: var(--max-width);
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
}

#content{
    padding-top: 82px;
    width: 100%;
}