*, *::before,*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
}

button {
    -webkit-appearance: none;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 1em 0;
}