.wp-container{
    position: relative;
    max-width: var(--inner-width);
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    h1{
        font-size: 44px;
        scroll-margin-top: 200px;
    }
    h2{
        font-size: 24px;
    }

    p{
        font-family: Gotham-Book;
        line-height: 1.6;
    }
    ul{
        padding-left: 2%;
        color: rgba($color: #000000, $alpha: 0.6);
        li{
            padding: 10px 0;
            line-height: 1.45;
            &::marker{
                color: var(--orange);
            }
        }
    }
    table{
        font-family: Gotham-Book;
        border-collapse: separate !important; 
        border-spacing: 0 10px;
        empty-cells: hide;
        thead{
            
            tr{
                background-color: black;
                color: var(--orange);
                font-weight: bold;
                
                th{
                    padding-top: 1.5em;
                    padding-bottom: 1.5em;
                    border: 0px;
                    &:first-child{
                        text-align: left;
                        padding-left: 20px;
                        
                    }
                }
            }
        }
        tbody{
            tr{
                td{
                    padding-top: 1.5em;
                    padding-bottom: 1.5em;
                    text-align: center;
                    background-color: var(--grey);
                    border: 0px;
                    &:first-child{
                        text-align: left;
                        font-weight: bold;
                        padding-left: 20px;
                    }
                }
            }
            
        }
    }
}