.wp-container{
    position: relative;
    max-width: var(--inner-width);
    width: 100%;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    h1{
        font-size: 44px;
        scroll-margin-top: 200px;
    }
    h2{
        font-size: 24px;
    }

    p{
        font-family: Gotham-Book;
        line-height: 1.6;
    }
}