#trackingConsent {
    position: fixed;
    bottom: 1em;
    right: 1em;
    left: auto;
    max-width: 25ch;
    &::backdrop {
        background: none;
        pointer-events: none;
        display: none;
    }
}