.nav-grid{
    // background-color: green;
    h1{
        position: relative;
        max-width: var(--inner-width);
        width: 100%;
        margin: 0 auto;
        font-size: 44px;
        padding: 2% 0 ;
    }
    .grid{
        ul{
            display: inline-flex;
            flex-wrap: wrap;
            // gap: 10px;
            gap: 11px;
            list-style: none;
            a{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                color: var(--white);
                text-decoration: none;
                text-align: center;
                background-color: var(--orange);
                // width: 24.3%;
                // width: 19.2%;
                overflow: hidden;
                flex-grow: 1;

                &:hover{
                    animation: shrink .3s ease-in-out;
                    li > #icon {
                        animation: image-hover .5s ease-in-out;
                    }
                }

                li{
                    aspect-ratio: 1/1;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    h3{
                        // font-size: 24px;
                        // margin: 15% 16.5% 0;
                        font-size: 20px;
                        margin: 15% 15% 0;
                        @media only screen and (max-width: 1146px) {
                            font-size: 14px;
                        
                         }
                    }
                }
            }
        }
    }
}

.dehover-shrink{
    animation: re-shrink .3s ease-in-out;
}

.dehover-image{
    animation: image-dehover .5s ease-in-out;
}
@keyframes shrink {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
    
}
@keyframes re-shrink {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100%{
        transform: scale(1);
    }
    
}

@keyframes image-hover{
    
    49%{
        transform: translateX(-300px);
    }
    50%{
        transform: translateX(300px);
    }
}

@keyframes image-dehover{
    
    49%{
        transform: translateX(300px);
    }
    50%{
        transform: translateX(-300px);
    }
}