
<body class="mobile-body">
    <span id="" class="fa-stack" style="vertical-align: top;">
        <i class="fa-solid fa-circle fa-stack-2x "></i>
        <i class="fa-solid fa-desktop fa-stack-1x fa-inverse"></i>
    </span>
    <h1>{{__('<span>Please view </span></br> on desktop', 'crowd')}}</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed.</p>
</body>
