
<div class="mobile-body" style="background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url({{theme.link}}/dist/images/crowd-background.png)">
    <span id="" class="fa-stack" style="vertical-align: top;">
        <i class="fa-solid fa-circle fa-stack-2x "></i>
        <i class="fa-light fa-desktop fa-stack-1x fa-inverse"></i>
    </span>
    <h1>{{__('<span>Please view </span></br> on desktop', 'crowd')}}</h1>
</div>
