header{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: var(--black);
    z-index: 99;

    .header-row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--orange);
        padding-top: 8px;
        padding-bottom: 8px;
        .header-logo{
            max-height: 66px;
            max-width: 66px;
            display: flex;
            align-items: center;
            text-decoration: none;
            &:link, &:visited{
                color: unset;
            }
            img{
                height: 100%;  
                padding: 10px;
            }
            p{
                margin-left: 0.5em;
                font-size: 21px;
                letter-spacing: .3rem;
                font-family: Gotham-Medium;
            }
            
        }
        .employee-name{
            color: var(--white);
            font-family: Gotham-Book;
            text-transform: uppercase;
        }
        .burger-menu{
            cursor: pointer;
            margin-left: 2.5em;
            &:hover{
                color: var(--white);
            }
        }
    }

    .dropdown-menu{
        display: none;
        align-items: center;
        margin-top: -82px;
        ul{
            font-size: 32px;
            margin: 0 auto;
            color: var(--white);
            text-decoration: none;
            list-style-type: none;
            display: flex;
            flex-wrap: wrap;
            margin: -10px;
            font-family: Gotham-Bold;
            li{
                flex: 1 1 400px;
                margin: 10px;
                &:not(:last-child){
                    margin-bottom: 24px;
                }
                a{
                    display: block;
                    text-decoration: none;
                    transition: all 0.3s ease-in-out;
                    &:link, &:visited{
                        color: unset;
                    }

                    &:hover{
                        color: var(--orange);
                        transform: translateX(7%);
                        i{
                            display: inline-block;
                            color: var(--orange);
                        }
                    }
                    
                    i{
                        color: var(--black);
                        padding-right: 0.3em;
                    }
                }
                
            }
        }
    }

    .sub-nav{
        background-color: var(--grey);
        .container{
            display: flex;
            align-items: center;
            h1{
                margin: 0;
                padding: 1em 10px;
                font-family: Gotham-Book;
            }

            select{
                width: 40%;
                height: 50px;
                margin-left: 5%;
                padding-left: 1%;
                border: 1.5px solid #A0A0A0;
                border-radius: 4px;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                background: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") #EFEFEF no-repeat 96% !important;
                &::-ms-expand{
                    display: none;
                }
                &:focus-visible{
                    outline: none;
                }
            }

        }
    }

}