<section class="free-text">
    {% if fields.title %}
        <h2>{{ fields.title }}</h2>
	{% endif %}
	{% if fields.subtitle %}
		<h3>{{ fields.subtitle }}</h3>
	{% endif %}
	{% if fields.content %}
		<p>{{ fields.content }}</p>
    {% endif %}
</section>